html, body, #root {
	max-height: 100%;
}

main {
	padding-top: 7rem;
	padding-left: 24rem;
}

/**
 * Forms
 */

input {
	border: 1px solid black;
	padding: 0.25rem 0.5rem;
}

/**
 * Responsive Image component
 */

 figure {
 	position: relative;

 	img,
 	.loading-placeholder {
		position: absolute;
 		width: 100%;
 		max-height: calc(100vh - 4rem);
 		object-fit: contain;
 		object-position: 0 0;
 	}

	/*.loading-placeholder {
		position: absolute;
	}*/

 	.canvas-placeholder {
 		@mixin invisible;
 		position: absolute;
 	}

 	.fullImage {
 		top: 0;
 		z-index: 2;
 		opacity: 0;
 		transition: 0.3s;
 	}

 	.loading-placeholder {
 		opacity: 1;
 		z-index: 0;
 		position: relative;
 		max-width: 100%;
 	}

 	.loading-placeholder--bare {
 		background: $grey0;
 		width: 100%;
 	}

 	&.placeholderLoaded {
 		.fullImage {
 			display: block;
 		}
 	}

 	&.loaded .fullImage {
 		opacity: 1;
 		/*position: relative;*/
 	}

 }

 figcaption {
 	margin-top: .5rem;
 	position: relative;
 }

 figure.placeholder {

 	.placeholder__image {
 		width: 100%;
 		padding-bottom: 56%;
 		background: $grey1;
 	}

 	figcaption {
 		background: $grey1;
 		width: 15rem;

 		&:before {
 			content: '\00a0';
 		}
 	}
 }
