{
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"node": true
	},
	"settings": {
		"import/resolver": {
			"webpack": {
				"config": "webpack.config.development.js"
			},
			"node": {
				"extensions": [".js", ".android.js", ".ios.js", ".native.js", ".web.js"]
			}
		}
	},
	"extends": "airbnb",
	"rules": {
		"no-console": 0,
		"no-return-assign": 0,
		"semi": [1, "never"],
		"indent": ["error", "tab", { "SwitchCase": 1 }],
		"react/jsx-indent": [2, "tab"],
		"max-len": [2, 200],
		"array-callback-return": 0,
		"react/no-multi-comp": 0,
		"react/jsx-indent-props": [2, "tab"],
		"class-methods-use-this": 0,
		"no-param-reassign": 0,
		"no-underscore-dangle": 0,
		"import/no-extraneous-dependencies": 0,
		"no-tabs": 0,
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
		"consistent-return": 0,
		"arrow-parens": [2, "as-needed", { "requireForBlockBody": false }],
		"no-restricted-syntax": [
			"error",
			"ForInStatement",
			"LabeledStatement",
			"WithStatement"
		],
		"function-paren-newline": 0,
		"import/prefer-default-export": 0
	}
}
