main.home {
	padding-left: 0;
}

.home__splash {
	@mixin abs-full-size;
	@mixin flex-center;
	width: 100%;
	position: fixed;
	z-index: 1000;
	display: none;
}

.home.withSplash {
	.home__splash {
		display: flex;
	}

	.imageGrid {
		display: none;
	}
}

.imageGrid {
	width: 100%;
	max-width: 160rem;
	padding: 3rem;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	figcaption {
		display: none;
	}
}

.imageGrid__item {
	position: relative;
	display: flex;
	align-items: center;

	&.w-5 {
		flex-basis: 20%;
	}

	&.w-4 {
		flex-basis: 25%;
	}

	&.w-3 {
		flex-basis: calc(100% / 3);
	}
	&.w-2 {
		flex-basis: 40%;
	}

	&.w-1 {
		flex-basis: 70%;
		padding: 0 5%;
	}
}

.gridImage__title {
	opacity: 0;
	font-style: italic;
}

.imageGrid__item a:hover {
	.gridImage__title {
		opacity: 1;
	}
}
/*
$break-large: 900px;
$break-medium: 760px;
$break-small: 580px;*/

@media screen and (max-width: $break-medium) {
	main.home {
		padding-top: 2rem;
		padding-right: 0;
	}

	.imageGrid__item {
		&.w-4 {
			flex-basis: 40%;
		}
		&.w-5 {
			flex-basis: 35%;
		}
	}
}

@media screen and (max-width: $break-small) {
	.imageGrid__item {
		&.w-1 {
			flex-basis: 100%;
		}

		&.w-2,
		&.w-3 {
			flex-basis: 80%;
		}

		&.w-4 {
			flex-basis: 70%;
		}

		&.w-5 {
			flex-basis: 52%;
		}

		&:nth-of-type(3n + 1) {
			margin-left: 3rem;
		}

		&:nth-of-type(3n) {
			margin-right: 3rem;
		}
	}
}

/**
 * 404
 */

main.not-found {
	font-style: italic;
}
