main.home {
	padding-left: 0;
}

.imageGrid {
	width: 100%;
	max-width: 160rem;
	padding: 3rem 3rem 12rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	figcaption {
		display: none;
	}
}

.imageGrid__item {
	position: relative;

	&.w-4 {
		flex-basis: calc(100% / 3);
	}

	&.w-2,
	&.w-3 {
		flex-basis: 50%;
	}

	&.w-1 {
		flex-basis: 80%;
	}
}

.gridImage__title {
	opacity: 0;
	font-style: italic;
}

.imageGrid__item a:hover {
	.gridImage__title {
		opacity: 1;
	}
}

/**
 * 404
 */

main.not-found {
	font-style: italic;
}
