main.home {
	padding-left: 0;
}

.home__splash {
	@mixin abs-full-size;
	@mixin flex-center;
	width: 100%;
	position: fixed;
	z-index: 1000;
	display: none;
}

.home.withSplash {
	.home__splash {
		display: flex;
	}

	.imageGrid {
		display: none;
	}
}

.imageGrid {
	width: 100%;
	max-width: 160rem;
	padding: 3rem 3rem 12rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	figcaption {
		display: none;
	}
}

.imageGrid__item {
	position: relative;

	&.w-4 {
		flex-basis: calc(100% / 3);
	}

	&.w-2,
	&.w-3 {
		flex-basis: 50%;
	}

	&.w-1 {
		flex-basis: 75%;
		padding: 0 5%;
	}

	&:nth-of-type(3n + 1) {
		margin-top: -1rem;
	}

	&:nth-of-type(3n + 2) {
		margin-top: -2rem;
	}
}

.gridImage__title {
	opacity: 0;
	font-style: italic;
}

.imageGrid__item a:hover {
	.gridImage__title {
		opacity: 1;
	}
}
/*
$break-large: 900px;
$break-medium: 760px;
$break-small: 580px;*/

@media screen and (max-width: $break-medium) {
	main.home {
		padding-top: 2rem;
		padding-right: 0;
	}

	.imageGrid__item {
		&.w-4 {
			flex-basis: 40%;
		}
	}
}

@media screen and (max-width: $break-small) {
	.imageGrid__item {
		&.w-1 {
			flex-basis: 100%;
		}

		&.w-2,
		&.w-3 {
			flex-basis: 90%;
		}

		&.w-4 {
			flex-basis: 90%;
		}

		&:nth-of-type(3n + 1) {
			margin-left: -4rem;
		}

		&:nth-of-type(3n) {
			margin-right: -4rem;
		}
	}
}

/**
 * 404
 */

main.not-found {
	font-style: italic;
}
