nav {
	display: none;
	pointer-events: none;
	flex-direction: column;
	justify-content: flex-start;
	position: fixed;
	padding: 2rem 2rem 4rem;
	z-index: 10;
	min-height: 100vh;

	a,
	button {
		pointer-events: initial;
	}
}

nav.visible {
	display: flex;
}

nav.inSplash {
	.nav__subnav {
		display: none;
	}
}

.nav__title {
	margin-bottom: 1em;
	max-width: 19rem;
}

.nav__subnav {
	display: none;
	padding-left: 1.5rem;
	max-width: $nav-width;
}

.nav__section--active {
	margin-bottom: 1rem;
	.nav__subnav {
		display: block;
	}
}

.nav__section--activeIndex {
	text-decoration: underline;
}

.nav__sectionTitle {
	font-weight: bold;
}

.nav__infoPages {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

nav h3 {
	display: inline-block;

	&:hover {
		color: #fbae00;
	}
}

.nav__item {
	margin-right: 1em;
	white-space: nowrap;

	a {
		position: relative;
	}

	a:hover,
	a.active {
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			background: black;
			width: 100%;
			height: 2px;
		}
	}
}

@media screen and (max-width: $break-medium) {
	nav {
		display: block;
		pointer-events: initial;
		position: relative;
		min-height: initial;
		padding: 2rem 4rem;
	}

	.nav__infoPages {
		margin-top: 2rem;

		h3 {
			display: inline-block;

			& + h3 {
				margin-left: 1rem;
			}
		}
	}
}

@media screen and (max-width: $break-small) {
	nav {
		padding: 2rem;
	}
}
