main.project {
	padding: 6rem 6rem 6rem calc($nav-width);
	height: 100vh;
}

.project__column {
	max-width: 35rem;

	/*p {
		width: 30rem;
		float: left;
	}

	p + p {
		margin-top: 0;
		margin-left: 2rem;
	}*/
	/*columns: 30rem;
	column-fill: auto;*/
}

.project__intro,
.project__column {
	max-height: 100%;
}

.project__intro,
.project__gallery,
.project__gallery figure {
	display: inline-block;
	vertical-align: top;
}

.project__languageSwitcher,
.project__gallerySwitcher {
	/*display: flex;*/
	flex-direction: column;
	justify-content: flex-end;
	text-align: right;
	margin-top: 2rem;
	color: grey;
}

.lang--es .languageButton--es,
.lang--en .languageButton--en {
	border-bottom: 1px solid currentColor;
}

.project__gallerySwitcherItem {
	text-align: right;
	border-radius: 0;
	margin-top: 0.2em;
	border-bottom: 1px solid transparent;

	button {
		font-style: italic;
		border-radius: 0;
	}
}

.project__gallerySwitcherItem--active button {
	border-bottom: 1px solid currentColor;
}

.project__title {
	margin-bottom: 0.8em;
}

main.project,
.project__gallery {
	white-space: nowrap;
}

.project__gallery,
.project__gallery figure {
	height: 100%;
}

.project__gallery figure {
	margin-left: 12rem;
	width: auto;

	img {
		width: auto;
		max-height: calc(100% - 6rem)
	}

	&:last-of-type {
		padding-right: 24rem;
	}
}

.project__intro,
.project__gallery figcaption {
	white-space: initial;
}

.project__gallery figcaption {
	text-align: right;
}




@media screen and (max-width: $break-medium) {
	main.project {
		padding: 2rem 4rem;
		height: auto;
		white-space: initial;
	}

	.project__gallerySwitcherItem,
	.project__languageSwitcher {
		text-align: left;
	}

	.project__intro {
		/*@extend .cf;*/
		/*float: right;*/
	}

	.project__gallery {
		white-space: initial;
		padding-bottom: 6rem;

		figure {
			display: block;
			margin: 4rem auto 6rem;
			text-align: center;

			img, canvas {
				max-height: calc(100vh - 6rem);
			}

			&:last-of-type {
				padding-right: initial;
			}
		}
	}
}

@media screen and (max-width: $break-small) {
	main.project {
		padding: 2rem;
		height: auto;
		white-space: initial;
	}
}
