main.project {
	padding: 6rem 6rem 6rem calc($nav-width);
	height: 100vh;
}

.project__column {
	width: 35rem;

	/*p {
		width: 30rem;
		float: left;
	}

	p + p {
		margin-top: 0;
		margin-left: 2rem;
	}*/
	/*columns: 30rem;
	column-fill: auto;*/
}

.project__intro,
.project__column {
	height: 100%;
}

.project__intro,
.project__gallery,
.project__gallery figure {
	display: inline-block;
	vertical-align: top;
}

main.project,
.project__gallery {
	white-space: nowrap;
}

.project__gallery,
.project__gallery figure {
	height: 100%;
}

.project__gallery figure {
	margin-left: 12rem;
	width: auto;

	img {
		width: auto;
		max-height: calc(100% - 6rem)
	}

	&:last-of-type {
		padding-right: 24rem;
	}
}

.project__intro,
.project__gallery figcaption {
	white-space: initial;
}

.project__gallery figcaption {
	text-align: right;
}

.project__altGalleryToggle {
	float: right;
	margin-top: 2rem;
	font-style: italic;
	color: grey;
}
